Repository HelixDesignSystem/helix-ui, pull requests merged in 2019-10, with the labels that each got.

#599 Pagination: convert Light DOM LESS to SCSS
  src/less/components.less
  src/scss/components/_index.scss
  src/scss/components/pagination/_index.scss
Labels: CSS

#600 refactor(*): source code tweaks
  rollup-utils/rollup-plugin-sass.js
  scripts/_compile/index.js
  src/elements/hx-drawer/_shadow.scss
  src/elements/hx-file-tile/_shadow.scss
  src/elements/hx-modal/_shadow.scss
  src/elements/hx-pill/_shadow.scss
  src/elements/hx-search/_shadow.scss
  src/elements/hx-toast/_shadow.scss
  src/less/components.less
  src/less/components/box/index.less
  src/scss/components/_config.scss
  src/scss/components/_index.scss
  src/scss/components/box/_config.scss
  src/scss/components/box/_deprecated.scss
  src/scss/components/box/_hx-div.scss
  src/scss/components/box/_hxBox.scss
  src/scss/components/box/_index.scss
  src/scss/components/box/_mixins.scss
  src/scss/components/button/_config.scss
  src/scss/components/button/_index.scss
  src/scss/components/dropdown-select/_config.scss
  src/scss/components/form/_config.scss
  src/scss/components/form/_index.scss
  src/scss/components/form/_mixins.scss
  src/scss/components/form/_reset.scss
  src/scss/components/grid/_config.scss
  src/scss/components/selector-strip/_hxSelector.scss
  src/scss/components/selector-strip/_index.scss
Labels: :construction_worker_man: Chore, :gear: Pipeline

#601 refactor(pill): convert LESS to SCSS styles
  src/less/components.less
  src/scss/components/_index.scss
  src/scss/components/pill/_index.scss
Labels: CSS

#602 refactor(reveal): convert LESS to SCSS styles
  src/less/components.less
  src/scss/components/_index.scss
  src/scss/components/reveal/_index.scss
Labels: CSS

#603 Panel: convert Light DOM LESS to SCSS
  src/less/components.less
  src/scss/components/_index.scss
  src/scss/components/panel/_index.scss
Labels: CSS

#606 Navigation: convert Light DOM LESS to SCSS
  src/less/components.less
  src/scss/components/_index.scss
  src/scss/components/navigation/_index.scss
Labels: CSS

#592 refactor(hx-search): implement form control with facade
  docs/components/search/index.html
  docs/components/search/search-demo.js
  docs/components/search/test.html
  docs/docs.less
  docs/styles/spec/search-spec.less
  src/elements/hx-search-control/index.js
  src/elements/hx-search-control/index.spec.js
  src/elements/hx-search/_shadow.html
  src/elements/hx-search/_shadow.scss
  src/elements/hx-search/index.js
  src/elements/index.js
  src/less/components/checkbox/index.less
  src/less/components/search/SearchFacade.less
  src/less/components/search/index.less
Labels: :rotating_light: Breaking Change

#604 Toast: convert Light DOM LESS to SCSS
  src/less/components.less
  src/scss/components/_index.scss
  src/scss/components/toast/_index.scss
Labels: CSS

#607 Layout: convert Light DOM LESS to SCSS
  src/less/components.less
  src/less/components/modal/index.less
  src/scss/components/_index.scss
  src/scss/components/layout/_index.scss
Labels: CSS

#616 fix(css): add back navigation styles
  src/scss/components/_index.scss
Labels: CSS, PR: VIP

#609 Table: convert Light DOM LESS to SCSS
  src/less/components.less
  src/scss/components/_index.scss
  src/scss/components/table/_index.scss
Labels: CSS

#618 chore: update github PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: :construction_worker_man: Chore

#621 docs(drawer): convert Drawer styles to SCSS
  docs/components/drawer/_spec.scss
  docs/docs.less
  docs/index.scss
  src/less/components.less
  src/scss/components/_index.scss
  src/scss/components/drawer/_index.scss
Labels: :memo: Documentation, CSS

#623 Selector Strip: convert Light DOM LESS to SCSS
  src/less/components/selector-strip/index.less
Labels: CSS

#617 build: add project git-hooks
  .node-version
  .npmrc
  git-hooks/commit-msg
  git-hooks/commit/errors.js
  git-hooks/commit/index.js
  git-hooks/commit/types.js
  git-hooks/pre-commit
  git-hooks/util/formatting.js
  package.json
  scripts/_publish/publishDocs.js
  scripts/revert-git-hooks.sh
  scripts/setup-git-hooks.sh
Labels: :gear: Pipeline

#624 Menu: convert Light DOM LESS to SCSS
  docs/components/_index.scss
  docs/components/menu/_spec.scss
  docs/docs.less
  src/less/components.less
  src/scss/components/_index.scss
  src/scss/components/menu/_index.scss
Labels: CSS

#608 Add stylelint
  .stylelintrc
  package.json
  scripts/lint.sh
  scripts/start.js
  src/elements/_has-arrow.scss
  src/elements/hx-checkbox/_shadow.scss
  src/elements/hx-div/_shadow.scss
  src/elements/hx-drawer/_shadow.scss
  src/elements/hx-modal/_shadow.scss
  src/elements/hx-pill/_shadow.scss
  src/elements/hx-search/_shadow.scss
  src/elements/hx-select/_shadow.scss
  src/elements/hx-toast/_shadow.scss
  src/scss/_config.scss
  src/scss/_vars.scss
  src/scss/components/drawer/_index.scss
  src/scss/components/dropdown-select/_config.scss
  src/scss/components/form/mixins/_input.scss
  src/scss/components/form/mixins/_textControl.scss
  src/scss/components/grid/_config.scss
  src/scss/components/layout/_index.scss
  src/scss/components/loader/_hx-busy.scss
  src/scss/components/modal/_index.scss
  src/scss/components/navigation/_index.scss
  src/scss/components/panel/_index.scss
  src/scss/components/selector-strip/_hxSelector.scss
  src/scss/components/tabset/_index.scss
  src/scss/components/toast/_index.scss
  src/scss/components/typography/_hljs.scss
  src/scss/components/typography/_index.scss
  src/scss/helpers/_alignment.scss
  src/scss/index.scss
  yarn.lock
Labels: :gear: Pipeline, CSS

#620 docs(search): update Search component docs and styles
  docs/_data/nav.json5
  docs/components/icon/icon-demo.js
  docs/components/icon/index.html
  docs/components/search/_spec.scss
  docs/components/search/index.html
  docs/components/search/test.html
  docs/docs.less
  docs/elements/hx-search-assistance/index.html
  docs/elements/hx-search-control/index.html
  docs/elements/hx-search/index.html
  docs/index.scss
  src/less/components.less
  src/less/components/search/SearchFacade.less
  src/scss/components/_index.scss
  src/scss/components/search/SearchFacade.scss
  src/scss/components/search/_index.scss
Labels: :memo: Documentation, CSS
