Repository HelixDesignSystem/helix-ui, pull requests merged in 2020-10, with the labels that each got.

#770 feat(tabset): accommodate angular lifecycle
  src/elements/hx-tabset/index.js
Labels: Angular

#768 feat(hx-text-control): add help and error text
  docs/components/text-input/index.html
  docs/components/text-input/text-input-demo.js
  src/scss/components/text-input/_index.scss
Labels: CSS

#767 feat(topnav): implement top navigation component
  docs/_data/nav.json5
  docs/components/topnav/index.html
  docs/components/topnav/test.html
  docs/components/topnav/topnav-demo.js
  docs/docs.js
  src/scss/components/_index.scss
  src/scss/components/topnav/_config.scss
  src/scss/components/topnav/index.scss
  src/scss/components/topnav/mixins/_topNavControl.scss
Labels: :new: :construction: BETA FEATURE

#771 feat(tabset): implement better support for dynamic tabs
  src/elements/hx-tab/index.js
  src/elements/hx-tabpanel/index.js
  src/elements/hx-tabset/index.js
  src/elements/hx-tabset/index.spec.js
Labels: :clipboard: Testing, :new: :construction: BETA FEATURE

#775 feat(beacon): implement override option for default styles
  docs/components/beacon/beacon-demo.js
  docs/components/beacon/index.html
  src/elements/hx-beacon/_shadow.scss
  src/scss/components/beacon/index.scss
Labels: :new: FEATURE, CSS, Hacktoberfest-Accepted

#780 feat(topnav): revise component styles
  docs/components/beacon/index.html
  docs/components/topnav/index.html
  docs/components/topnav/test.html
  docs/components/topnav/topnav-demo.js
  src/scss/components/_index.scss
  src/scss/components/topnav/index.scss
  src/scss/components/topnav/mixins/_topNavControl.scss
Labels: :new: :tada: HelixUI Component, CSS, Hacktoberfest-Accepted

#773 feat(secnav): implement secondary navigation component
  docs/_data/nav.json5
  docs/components/secnav/index.html
  docs/components/secnav/secnav-demo.js
  docs/components/secnav/test.html
  docs/docs.js
  src/scss/components/_index.scss
  src/scss/components/secnav/_config.scss
  src/scss/components/secnav/index.scss
  src/scss/components/secnav/mixins/_secNavControl.scss
Labels: :new: :tada: HelixUI Component, CSS, Hacktoberfest-Accepted

#777 refactor(icon and nav): icon and nav dev docs from less to scss
  docs/components/_index.scss
  docs/components/icon/_index.scss
  docs/components/navigation/_index.scss
  docs/docs.less
Labels: :memo: Documentation, CSS, Hacktoberfest-Accepted

#774 fix(dropdown-select): disabled state for chromium-based browsers
  src/scss/components/dropdown-select/mixins/SelectControl.scss
Labels: CSS, Hacktoberfest-Accepted

#783 publish(npm): v1.1.0 [skip ci]
  package.json
Labels: Hacktoberfest-Accepted
