Repository HelixDesignSystem/helix-ui, pull requests merged in 2021-03, with the labels that each got.

#836 docs(hx-radio): implement and document vars and attrs
  src/scss/components/radio/_index.scss
  src/scss/components/radio/mixins/_hxRadioControl.scss
  src/scss/components/radio/mixins/_hxRadioFacade.scss
Labels: :memo: Documentation, CSS

#833 docs(password): implement and document attrs and vars
  src/scss/components/password-input/_index.scss
Labels: :memo: Documentation, CSS

#829 docs(loader): implement and document vars and attrs
  src/scss/components/loader/_hx-progress.scss
Labels: :memo: Documentation, CSS

#832 docs(popover): implement and document attrs and vars
  src/scss/components/popover/_index.scss
Labels: :memo: Documentation, CSS, Need: Dev LGTM

#828 docs(file): implement and document attrs and vars
  src/scss/components/file/_hx-drop-fence.scss
  src/scss/components/file/_hx-drop-zone.scss
  src/scss/components/file/_hx-file-control.scss
  src/scss/components/file/_hx-file-tile.scss
Labels: :memo: Documentation, CSS

#830 docs(pagination): implement and document attrs and vars
  src/scss/components/pagination/_index.scss
Labels: :memo: Documentation, CSS, Need: Dev LGTM

#841 docs(panel): implement and document attrs and vars
  src/scss/components/panel/_index.scss
Labels: CSS

#844 fix(invalid): update default color
  docs/components/icon/_index.scss
  src/elements/hx-toast/_shadow.scss
  src/scss/components/alert/index.scss
  src/scss/components/badge/index.scss
  src/scss/components/form/_deprecated.scss
  src/scss/components/selector-strip/_hxSelector.scss
  src/scss/components/switch/mixins/_hxSwitchControl.scss
  src/scss/components/toast/_index.scss
Labels: :new: New Component Specs, CSS

#837 feat(choice-tile): implement new slim option
  docs/components/choice-tile/choice-tile-demo.js
  src/scss/components/choice-tile/_index.scss
  src/scss/components/choice-tile/mixins/_hxChoiceTile.scss
Labels: :new: New Component Specs

#845 fix(button): primary hover state
  src/scss/components/button/mixins/_hxButton.scss
Labels: CSS

#834 docs(pill): implement and document attrs and vars
  src/elements/hx-pill/_shadow.scss
  src/scss/components/pill/_index.scss
Labels: :memo: Documentation, CSS

#843 style(search): feedback changes
  src/scss/components/search/SearchFacade.scss
  src/scss/components/search/_index.scss
Labels: CSS

#826 feat(topnav): document styles and update component specs
  src/scss/components/topnav/index.scss
  src/scss/components/topnav/mixins/_topNavControl.scss
Labels: :memo: Documentation, :new: New Component Specs, CSS

#846 feat(checkbox): update component specs
  docs/components/checkbox/_spec.scss
  src/scss/_vars.scss
  src/scss/components/checkbox/_index.scss
  src/scss/components/checkbox/mixins/_hxCheckboxControl.scss
  src/scss/components/checkbox/mixins/_hxCheckboxFacade.scss
Labels: :new: New Component Specs

#848 build(ci): implement github actions
  .github/workflows/build.yml
Labels: :gear: Pipeline

#849 build(ci): gh actions patch
  .github/workflows/build.yml
Labels: :gear: Pipeline, :new: FEATURE

#852 publish(npm): v2.2.0
  package.json
Labels: Milestone

#850 build(sauce): migrate to github actions
  .github/workflows/browser-tests.yml
  .github/workflows/build.yml
  karma.sauce.config.js
Labels: :gear: Pipeline
