Repository HelixDesignSystem/helix-ui, pull requests merged in 2021-07, with the labels that each got.

#885 test(tooltip): fix flaky GH action - $onConnect
  src/elements/hx-tooltip/index.spec.js
Labels: :clipboard: Testing, :gear: Pipeline

#884 test(deprecate): remove legacy test structure
  test/.gitignore
  test/artifacts/README.md
  test/behavioral/behavioral.ts
  test/behavioral/chrome.ts
  test/behavioral/firefox.ts
  test/behavioral/tests/tabs.ts
  test/bin/selenium/.gitignore
  test/common/util.ts
  test/dom-snapshots/README.md
  test/dom-snapshots/components-checkboxes-MicrosoftEdge.js.md
  test/dom-snapshots/components-checkboxes-MicrosoftEdge.js.snap
  test/dom-snapshots/components-checkboxes-internet-explorer.js.md
  test/dom-snapshots/components-checkboxes-internet-explorer.js.snap
  test/dom-snapshots/components-search-MicrosoftEdge.js.md
  test/dom-snapshots/components-search-MicrosoftEdge.js.snap
  test/dom-snapshots/components-search-internet-explorer.js.md
  test/dom-snapshots/components-search-internet-explorer.js.snap
  test/dom-snapshots/components-typography-MicrosoftEdge.js.md
  test/dom-snapshots/components-typography-MicrosoftEdge.js.snap
  test/dom-snapshots/components-typography-internet-explorer.js.md
  test/dom-snapshots/components-typography-internet-explorer.js.snap
  test/dom-snapshots/elements-hx-progress-MicrosoftEdge.js.md
  test/dom-snapshots/elements-hx-progress-MicrosoftEdge.js.snap
  test/dom-snapshots/elements-hx-progress-internet-explorer.js.md
  test/dom-snapshots/elements-hx-progress-internet-explorer.js.snap
  test/mocha.opts
  test/package.json.deprecated
  test/regression/generateSingleTest.js
  test/regression/regressionTestHandler.js
  test/regression/runSingleTest.ts
  test/run_unit.js
  test/scripts/regressionTest.sh
  test/scripts/run-travis-push-or-pr
  test/scripts/webdriver-start
  test/scripts/webdriver-update
  test/tsconfig.json
  test/tslint.json
  test/yarn.lock.deprecated
Labels: :clipboard: Testing, :construction: Deprecation, :gear: Pipeline

#887 chore(dependencies): update package.json
  .github/workflows/browser-tests.yml
  .github/workflows/build.yml
  .travis.yml
  karma.sauce.config.js
  package.json
  src/elements/hx-tooltip/index.spec.js
  yarn.lock
Labels: :gear: Pipeline

#886 style(toggle): alignment changes for grid and list icons
  src/elements/hx-toggle/_shadow.scss
Labels: :memo: Documentation, CSS

#880 styles(search): implement and document variables and attributes
  src/scss/components/search/SearchFacade.scss
  src/scss/components/search/_index.scss
Labels: :memo: Documentation, CSS

#882 docs(switch): implement and document variables and attributes
  src/scss/components/switch/_index.scss
  src/scss/components/switch/mixins/_hxSwitchControl.scss
Labels: :memo: Documentation, CSS

#879 refactor(selector-strip): implement and document variables and attributes
  src/scss/components/selector-strip/_hxSelector.scss
Labels: :memo: Documentation, CSS

#873 refactor(layout): implement and document variables and attributes
  src/scss/components/layout/_index.scss
Labels: :memo: Documentation, CSS

#875 refactor(navigation): implement left navigation new specs
  docs/components/navigation/index.html
  src/scss/components/navigation/_index.scss
Labels: :new: New Component Specs

#888 docs(menu): add IE11 fallbacks
  src/scss/components/menu/_index.scss
Labels: :memo: Documentation, CSS

#889 docs(stepper): add fallbacks
  src/elements/hx-accordion-panel/_shadow.scss
  src/scss/components/accordion/_stepper.scss
Labels: :memo: Documentation, CSS

#892 chore(docs): tweak docs `header`
  docs/_layout.scss
Labels: :memo: Documentation, CSS

#893 chore(readme): add test build instructions
  README.md
Labels: :memo: Documentation

#894 publish(npm): v2.4.0-rc.0
  package.json
Labels: Milestone
