Repository HelixDesignSystem/helix-ui, pull requests merged in 2021-02, with the labels that each got.

#795 docs(choice-tile): implement and document vars and attrs
  src/scss/components/choice-tile/_index.scss
  src/scss/components/choice-tile/mixins/_hxChoiceTile.scss
Labels: :memo: Documentation, CSS

#820 docs(tabset): implement and document attrs and vars
  src/scss/components/tabset/_index.scss
Labels: :memo: Documentation, CSS

#799 docs(dropdown): implement and document attrs and vars
  src/scss/components/dropdown-select/mixins/SelectControl.scss
  src/scss/components/dropdown-select/mixins/SelectFacade.scss
Labels: :memo: Documentation, CSS

#825 docs(hx-menu): implement and document vars and attrs
  src/scss/components/menu/_index.scss
Labels: :memo: Documentation, CSS

#831 feat(various): update component specs
  src/scss/_vars.scss
  src/scss/components/button/mixins/_hxButton.scss
  src/scss/components/button/mixins/_hxButtonBar.scss
  src/scss/components/checkbox/_index.scss
  src/scss/components/popover/_index.scss
  src/scss/components/radio/_index.scss
Labels: :new: New Component Specs

#835 publish(npm): v2.1.0
  package.json
Labels: Milestone
